<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Office equipments settings</title>
    <style>
        a {
            font-size: 20px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
        }

        a:nth-of-type(1) {
            color: blue;
        }

        a:nth-of-type(2) {
            color: green;
        }

        a:nth-of-type(3) {
            color: red;
        }

        a:nth-of-type(4) {
            color: purple;
        }
    </style>
</head>
<body>
<a href="/offices/elements/showall">View office equipments</a><br>
<a href="/offices/elements/form">Add office equipments</a><br>
<a href="/">Home page</a>
</body>
</html>