<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computing's</title>
    <style>
        a {
            font-size: 20px;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            color: blue;
        }

        a[href="/"] {
            color: red;
        }
    </style>
</head>
<body>
<div th:each="computing : ${computings}">
    <a th:href="@{/computings/elements/showone/{is_id}(is_id=${computing.getIsId()})}"
       th:text="${computing.getIsName()}">VALUE</a>
</div>
<a href="/">Home page</a>
</body>
</html>
