<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update</title>
</head>
<body>

<form th:method="POST" th:action="@{/employees/elements/showone/{id}(id=${employee.getId()})}" th:object="${employee}">
  <label for="post">Enter post: </label>
  <input type="text" th:field="*{post}" id="post"/>
  <br/>
  <label for="unit">Enter unit number: </label>
  <input type="number" th:field="*{unitNumber}" id="unit"/>
  <br/>
  label for="fio">Enter name: </label>
  <input type="text" th:field="*{fio}" id="fio"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>